<%= render 'layouts/h1', title: "ログイン" %>
<div>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="py-2">
        <%= f.label :email, "メールアドレス", class: "text-xl block font-bold mb-2" %>
        <%= f.email_field :email, class: "border-2 w-full p-1" %>
      </div>

      <div class="py-2">
        <%= f.label :password, "パスワード", class: "text-xl block font-bold mb-2" %>
        <%= f.password_field :password, class: "border-2 w-full p-1" %>
      </div>

      <%= f.submit "ログイン", class: "bg-red-400 p-2 text-white rounded w-full" %>

      <div class="mt-3 text-center underline">
        <%= link_to "新規登録はこちら", new_user_path %>
      </div>

    <% end %>
  </div>
</div>