<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :assigner_id, "担当者", class: "text-xl block font-bold mb-2" %>
    <%= form.select :assigner_id, users.map{ |u| [u.name, u.id] }, {},  class: "border-2 w-full" %>
  </div>
 
  <div class="field">
    <%= form.label :due_at, "期限", class: "text-xl block font-bold mb-2" %>
    <%= form.datetime_field :due_at, class: "border-2 w-full" %>
  </div>
 
  <div class="field">
    <%= form.label :content, "内容", class: "text-xl block font-bold mb-2" %>
    <%= form.text_area :content, class: "border-2 w-full", rows: 2, placeholder: "タスクの内容を入力してください" %>
  </div>

  <div class="field">
    <%= form.label :description, "説明", class: "text-xl block font-bold mb-2" %>
    <%= form.text_area :description, class: "border-2 w-full", rows: 10, placeholder: "タスクの説明を入力してください" %>
  </div>

   <div class="actions">
     <%= form.submit "保存", class: "bg-red-400 p-2 text-white rounded w-full" %>
   </div>
<% end %>
