<%= render 'layouts/h1', title: @task.content %>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">担当者</p>
  <%= link_to @task.assigner.name, @task.assigner %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">期限</p>
  <%= @task.due_at %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">タグ</p>
  <% @task.tags.each do |tag| %>
  <%= tag_label(tag) %>
  <% end %>
  <br>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">説明</p>
  <%= @task.description %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">所属プロジェクト</p>
  <%= link_to @task.project.name, @task.project %>
</div>
