<%= render 'layouts/h1', title: "タスク詳細" %>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">担当者</p>
  <%= link_to @task.assigner.name, @task.assigner %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">期限</p>
  <%= @task.due_at %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">内容</p>
  <%= @task.content %>
</div>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">説明</p>
  <%= @task.description %>
</div>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
