<%= form_with(model: api_token) do |form| %>
  <% if api_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_token.errors.count, "error") %> prohibited this api_token from being saved:</h2>

      <ul>
        <% api_token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description, "トークン名", class: "text-xl block font-bold mb-2" %>
    <%= form.text_field :description, class: "border-2 w-full" %>
  </div>

  <div class="actions">
    <%= form.submit "保存", class: "bg-red-400 p-2 text-white rounded w-full" %>
  </div>
<% end %>
