<div class="flex">
  <% if logged_in? %>
    <%= render 'layouts/h1', title: "APIトークン一覧(#{current_user[:name]})" %>
  <% else %>
    <%= render 'layouts/h1', title: "APIトークン一覧" %>
  <% end %>
  <div class="flex-1"></div>
  <%= link_to '新規作成', new_api_token_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<% @api_tokens.each do |api_token| %>
  <% if logged_in? %>
    <div class="p-3 my-3 border rounded flex space-x-4">
      <div>
        <p> APIトークン: <%= api_token.secret %></p>
        <p> トークン名: <%= api_token.description %></p>
        <p> 有効期限: <%= api_token.expired_at %></p>
      </div>
      <div class="flex-1">
      </div>
        <% if logged_in? %>
          <%= link_to '編集', edit_api_token_path(api_token) %>
          <%= link_to '削除', api_token, method: :delete, data: { confirm: 'このAPIトークンを削除しますか？' } %>
        <% end %>
    </div>
  <% end %>
<% end %>
