<%= render 'layouts/h1', title: "ユーザ一覧" %>

<% @users.each do |user| %>
  <div class="p-3 my-3 border rounded flex space-x-4">
    <div>
      <p class="text-xl"><%= user.name %></p>
      <p><%= user.email %></p>
    </div>
    <div class="flex-1"></div>
    <% if logged_in?  && current_user?(user) %>
      <%= link_to '編集', edit_user_path(user) %>
      <%= link_to '削除', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>