<head>
<style>
  div {
    margin-bottom: 20px;
  }
</style>
</head>

<%= render 'layouts/h1', title: "ユーザ詳細" %>

<div>
  <p class="text-xl block font-bold mb-2">ユーザ名</p>
  <%= link_to @user.name %>
</div>

<div>
  <p class="text-xl block font-bold mb-2">メールアドレス</p>
  <%= link_to @user.email %>
</div>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
