<div class="flex">
  <%= render 'layouts/h1', title: "プロジェクト一覧" %>
  <div class="flex-1"></div>
  <%= link_to '新規作成', new_project_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<% @projects.each do |project| %>
  <div class="p-3 my-3 border rounded ">
    <div class="flex space-x-4">
      <div>
        <p class="text-xl"><%= project.name %></p>
        <p>達成率 : <%= project.tasks.count { |task| task.completed? } %> / <%= project.tasks.count %></p>
      </div>
      <div class="flex-1"></div>
      <% if logged_in? %>
        <%= link_to '詳細', project %>
        <%= link_to '編集', edit_project_path(project) %>
        <%= link_to '削除', project, method: :delete, data: { confirm: 'このプロジェクトを削除しますか？' } %>
      <% end %>
    </div>
    <div>
      <p id="<%= "project-#{project.id}" %>" class="mt-3 text-center cursor-pointer bg-gray-100">+</p>
    </div>
  </div>

  <div id="<%= "project-#{project.id}-tasks" %>" class="transition-accordion invisible leading-0 opacity-0 max-h-0 duration-500">
    <% project.tasks.each_with_index do |task, index| %>
      <div class="flex">
        <div class="w-6">
          <div class="h-1/2 border-r-2"></div>
          <% if index < project.tasks.count - 1 %>
            <div class="h-1/2 border-r-2"></div>
          <% end %>
        </div>
        <div class="w-6">
          <div class="h-1/2 border-b-2"></div>
        </div>
        <div class="p-3 my-3 border rounded flex space-x-4 flex-1">
          <div>
            <p class="text-xl"><%= task.content %></p>
            <p>担当者: <%= link_to task.assigner.name, task.assigner %></p>
            <P>状態: <%= task.state.name %></P>
          </div>
          <div class="flex-1"></div>
          <% if logged_in? %>
            <%= link_to '詳細', task %>
            <%= link_to '編集', edit_task_path(task) %>
            <%= link_to '削除', task, method: :delete, data: { confirm: 'このタスクを削除しますか？' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
    <% @projects.each do |project| %>
    document.getElementById("<%= "project-#{project.id}" %>").onclick = () => {
        const target = document.getElementById("<%= "project-#{project.id}-tasks"%>")
        target.classList.toggle("invisible")
        target.classList.toggle("leading-0")
        target.classList.toggle("opacity-0")
        target.classList.toggle("max-h-0")
        target.classList.toggle("max-h-screen")

        const button = document.getElementById("<%= "project-#{project.id}" %>")
        button.innerText = button.innerText === "+" ? "-" : "+"
    }
    <% end %>
</script>
