<%= render 'layouts/h1', title: @project.name %>

<div class="my-3">
  <p class="text-xl block font-bold mb-2">作成者</p>
  <%= link_to @project.user.name, @project.user %>
</div>

<div>
  <div class="flex">
    <p class="text-xl block font-bold mb-2">タスク一覧</p>
    <div class="flex-1"></div>
    <%= link_to '新規作成', new_task_path(project_id: @project.id), class: "my-auto text-white bg-red-400 rounded p-2" %>
  </div>
  <% @project.tasks.each do |task| %>
    <div class="p-3 my-3 border rounded flex space-x-4">
      <div>
        <p class="text-xl"><%= task.content %></p>
        <p>担当者: <%= link_to task.assigner.name, task.assigner %></p>
      </div>
      <div class="flex-1"></div>
      <% if logged_in? %>
        <%= link_to '詳細', task %>
        <%= link_to '編集', edit_task_path(task) %>
        <%= link_to '削除', task, method: :delete, data: { confirm: 'このタスクを削除しますか？' } %>
      <% end %>
    </div>
  <% end %>

</div>
