<style>
  div {
    margin-bottom: 20px;
  }
</style>
</head>

<%= render 'layouts/h1', title: "プロジェクト詳細" %>

<div>
  <p class="text-xl block font-bold mb-2">作成者</p>
  <%= link_to @project.user.name, @project.user %>
</div>

<div>
  <p class="text-xl block font-bold mb-2">プロジェクト名</p>
  <%= @project.name %>
</div>

<div>
  <p class="text-xl block font-bold mb-2">タスク一覧</p>
  <% @tasks.each do |task| %>
  　<% if task.project_id == @project.id %>
   　　 <p><%= link_to task.content, tasks_path %></p>
    <% end %>
  <% end %>

</div>


<%= link_to '編集', edit_project_path(@project) %> |
<%= link_to '戻る', projects_path %>
