<div class="border mx-auto p-3">
  <p class="font-bold text-xl mb-3">メニュー</p>
  <ul>
    <li class="my-1"><%= link_to "タスク一覧", tasks_path %></li>
    <li class="my-1"><%= link_to "ユーザ一覧", users_path %></li>
    <li class="my-1"><%= link_to "プロジェクト一覧", projects_path %></li>
    <li class="my-1"><%= link_to "タグ一覧", tags_path %></li>
    <li class="my-1"><%= link_to "APIトークン一覧", api_tokens_path %></li>
  </ul>
</div>
